<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <form name="form" novalidate>
                    <p  ng-cloak ng-if="!view.caja.detalle.length">
                        <strong>No se encontró detalle de caja, verifique que la caja este abierta.</strong>
                    </p>
                    <tabset ng-cloak ng-if="view.caja.detalle.length" vertical="true" type="pills" class="tabs-vertical-env tabs-vertical-bordered">
                        <tab ng-repeat="tab in ::view.caja.detalle track by tab.boveda.id | orderBy: boveda.id" heading="{{tab.boveda.denominacion}}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Valor</th>
                                            <th>Cantidad</th>
                                            <th>Sub total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in ::tab.detalleHistorial | orderBy: 'valor'">
                                            <td style="height: 33px;"><span ng-bind="$index+1"></span></td>
                                            <td><span ng-bind="::item.valor | currency: ''"></span></td>
                                            <td><span ng-bind="::item.cantidad"></span></td>
                                            <td>
                                                <span ng-bind="::item.getSubTotal() | currency: ''"></span>
                                                &nbsp;
                                                <span ng-bind="::tab.boveda.moneda"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="3">Total:</th>
                                            <th rowspan="1" colspan="1"><span ng-bind="::tab.getTotal() | currency : ''"></span></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th width="60px">Valor</th>
                                            <th width="100px">
                                                <label style="margin: 0;">
                                                    <div class="cbr-replaced" ng-class="{ 'cbr-checked' : config.checkbox.cantidad }"><div class="cbr-input"><input type="checkbox" ng-model="config.checkbox.cantidad" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                                                </label>
                                                Cantidad
                                            </th>
                                            <th>Sub total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in ::tab.detalleHistorial | orderBy: 'valor'">
                                            <td style="height: 33px;"><span ng-bind="::item.valor | currency: ''"></span></td>

                                            <td ng-if="config.checkbox.cantidad" style="padding: 0;">
                                                <ng-form name="form">
                                                    <div class="form-group" ng-class="{ 'validate-has-error' : form.cantidad.$invalid }" style="margin: 0;">
                                                        <input type="text" name="cantidad" ng-model="item.cantidad" ui-number-mask="0" min="0" max="999999999" ng-minlength="1" ng-maxlength="11" class="form-control" placeholder="Ingrese cantidad" required style="text-align: right;"/>
                                                    </div>
                                                </ng-form>
                                            </td>
                                            <td ng-if="!config.checkbox.cantidad" style="text-align: right;">
                                                <span ng-bind="item.cantidad | number"></span>
                                            </td>

                                            <td>
                                                <span ng-bind="item.getSubTotal() | currency: ''"></span>&nbsp;<span ng-bind="tab.boveda.moneda"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="2">Total:</th>
                                            <th rowspan="1" colspan="1"><span ng-bind="tab.getTotal() | currency : ''"></span></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <p>
                        <button type="button" class="btn btn-primary" ng-click="cerrar()" ladda="control.block" data-style="expand-right">Guardar</button>
                        <button type="button" class="btn btn-white" ui-sref="^.resumen">Cancelar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>