<h4><strong>Datos principales</strong> </h4>

<div class="row" ng-if="view.agencia.id">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Sucursal</label>
            <h4><span ng-bind="view.agencia.sucursal.denominacion"></span></h4>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Agencia</label>
            <h4><span ng-bind="view.agencia.denominacion"></span></h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" ng-if="(view.agencia.id) || (!view.agencia.id && !view.boveda.id)">
        <div class="form-group" ng-class="{ 'validate-has-error' : form.moneda.$invalid && (form.moneda.$dirty || form.$submitted)}">
            <label>Moneda</label>
            <ui-select name="moneda" ng-model="combo.selected.moneda" ui-autofocus sg-moneda-boveda-agencia-validate sg-agencia="{{view.agencia}}" required>
                <ui-select-match placeholder="Moneda">{{$select.selected.denomination}} ({{$select.selected.simbol}})</ui-select-match>
                <ui-select-choices repeat="item in combo.moneda | filter: $select.search">
                    <div ng-bind-html="item.denomination | highlight: $select.search"></div>
                    <small>
                        code: {{item.code}}
                        simbol: <span ng-bind-html="''+item.simbol | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="form.moneda.$error" ng-if="form.moneda.$dirty || form.$submitted">
                <div class="validate-has-error" ng-message="required">Ingrese moneda.</div>
                <div class="validate-has-error" ng-message="disponible">Boveda con moneda seleccionada existente.</div>
            </div>
            <span ng-show="form.moneda.$pending" us-spinner="spinnerConfig"></span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" ng-class="{ 'validate-has-error' : form.denominacion.$invalid && (form.denominacion.$touched || form.$submitted)}">
            <label>Denominacion</label>
            <input type="text" name="denominacion" ng-model="view.boveda.denominacion" ng-maxlength="60" class="form-control" required/>
            <div ng-messages="form.denominacion.$error" ng-if="form.denominacion.$touched || form.$submitted">
                <div class="validate-has-error" ng-message="required">Ingrese denominacion.</div>
                <div class="validate-has-error" ng-message="maxlength">Maximo 60 caracteres.</div>
            </div>
        </div>
    </div>
</div>

<p>
    <button type="button" class="btn btn-primary" ng-click="addBoveda()" ladda="control.block" data-style="expand-right">Guardar</button>
    <button type="button" class="btn btn-white" ui-sref="^.^.resumen">Cancelar</button>
</p>