<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" ui-sref=".datosPrincipales">Ingrese los datos</h3>
        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">–</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                ×
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <table ng-if="view.boveda.detalle.length" class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Valor</th>
                        <th>Cantidad</th>
                        <th>Sub total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in view.boveda.detalle | orderBy: 'valor'">
                        <td><span ng-bind="$index+1"></span></td>
                        <td><span ng-bind="item.valor | currency: ''"></span></td>
                        <td><span ng-bind="item.cantidad"></span></td>
                        <td>
                            <span ng-bind="item.getSubTotal() | currency: ''"></span>
                            &nbsp;
                            <span ng-bind="view.boveda.moneda"></span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th rowspan="1" colspan="3">Total:</th>
                        <th rowspan="1" colspan="1"><span ng-bind="getTotal() | currency : ''"></span></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-primary" ng-click="cerrar()" ladda="control.block" data-style="expand-right">Guardar</button>
            <button type="button" class="btn btn-white" ui-sref="^.resumen">Cancelar</button>
        </p>
    </div>
</div>